<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>アンケート回答完了画面</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>
<body>



<div class="form-group">
    <div class="text-center">
    <div class="vertical-middle">
      <div class="ozigi">
        <img src ="../img/tisconpic.jpg">
        </div>
        <div class = "text-center">回答ありがとうございました。</div>
      <a class="btn btn-back" href="/" role="button">TOPへ戻る</a>
    </div>
    </div>
  </div>
  </div>
</body>
</html>